@model Chipin_Rewrite.Models.Entities.Product

@{
    ViewData["Title"] = "Edit";
}



<!-- Main CSS-->
<link href="~/css/site.css" rel="stylesheet" media="all">
<link href="~/css/Created.css" rel="stylesheet" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



















@if (@ViewBag.viewMode == "LoggedIn")
{









    <link href="~/css/bubbles.css" rel="stylesheet" media="all">
    <div class="bubbles bubble-1"></div>
    <div class="bubbles bubble-5"></div>
    <div class="bubbles bubble-2"></div>
    <div class="bubbles bubble-6"></div>
    <div class="bubbles bubble-3"></div>
    <div class="bubbles bubble-7"></div>
    <div class="bubbles bubble-4"></div>
    <div class="bubbles bubble-8"></div>



    <body>
        <div>
            <div class="backBtn-div">

                <a href="@Url.Action("Index", "Products", new {token = "null"  })" class="backBtn link">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </div>
            <h1 class="pink">Edit Product</h1>

        </div>

        <div class="container">
            <div class="card">
                <form id="myForm" method="post" action="@Url.Action("Edit", "Products")">

                    <input type="hidden" name="id" value="@ViewBag.id" />
                    <input type="hidden" id="token" name="token" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>







                    <div class="input-container">
                        <h3>
                            Product Name
                            <star class="required" title="required">*</star>
                        </h3>
                        <input asp-for="ProductName" class="form-control" placeholder="Product name..." required />
                        <small>
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </small>
                        <h3>
                            Description
                            <star class="required" title="required">*</star>
                        </h3>

                        <input asp-for="ProductDescription" class="form-control" placeholder="Info..." required />

                        <small>
                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        </small>
                        <h3>
                            Store
                            <star class="required" title="required">*</star>
                        </h3>
                        <input asp-for="Store" class="form-control" placeholder="ChipIn" required />

                        <small>
                            <span asp-validation-for="Store" class="text-danger"></span>
                        </small>

                        <h3>
                            Quantity
                            <star class="required" title="required">*</star>
                        </h3>
                        <input asp-for="Quantity" class="form-control" required />
                        <small>
                            <span asp-validation-for="Quantity" class="text-danger"></span>

                        </small>
                        <h3>
                            Price
                            <star class="required" title="required">*</star>
                        </h3>
                        <input asp-for="Price" class="form-control" required />

                        <small>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </small>



                        <h3>
                            Image url
                            <star class="required" title="required">*</star>
                        </h3>
                        <input asp-for="ProductImage" class="form-control" placeholder="Image Url" required />
                        <small>
                            <span asp-validation-for="ProductImage" class="text-danger"></span>
                        </small>
                        <input asp-for="ProductImage1" class="form-control" placeholder="Image Url" />
                        <small>
                            <span asp-validation-for="ProductImage1" class="text-danger"></span>
                        </small>
                        <input asp-for="ProductImage2" class="form-control" placeholder="Image Url" />
                        <small>
                            <span asp-validation-for="ProductImage2" class="text-danger"></span>
                        </small>
                        <input asp-for="ProductImage3" class="form-control" placeholder="Image Url" />
                        <small>
                            <span asp-validation-for="ProductImage3" class="text-danger"></span>
                        </small>
                    </div>
                    <input type="hidden" asp-for="ProductId" />

                    <div class="btn-div">
                        <button type="submit" value="Save">Save</button>
                    </div>

                </form>
            </div>


        </div>
     


    </body>

    <script>
        document.getElementById("token").value = localStorage.getItem("token");
        document.getElementById('backBtn').addEventListener('click', function () {
            var token = localStorage.getItem('token');
            var url = '@Url.Action("Index", "Products")' + '?token=' + encodeURIComponent(token);
            window.location.href = url;
        });
    </script>


    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}