@model Chipin_Rewrite.Models.Entities.ProductListWallet

@{
    var externalProducts = ViewBag.ExternalProducts as List<Chipin_Rewrite.Models.Entities.ExternalProduct>;
    var products = ViewBag.Products as List<Chipin_Rewrite.Models.Entities.Product>;
    var productListItems = ViewBag.ProductListItems as List<Chipin_Rewrite.Models.Entities.ProductListItem>;
    var productListWallets = ViewBag.Wallets as Chipin_Rewrite.Models.Entities.ProductListWallet;
    var addresses = ViewBag.Addresses as List<Chipin_Rewrite.Models.Entities.Address>;
}


<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        .share-container {
            display: flex;
            flex-direction: column;
            min-height: 83vh; /* Full height of the viewport */
        }

        .share-card {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 428px;
            width: 100%; /* Ensure it doesn't get wider */
            margin: 20px auto;
            text-align: center;
        }

            .share-card img {
                max-width: 200px;
                margin: 30px auto 30px auto;
            }

        .share-icons {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin: 64px 0;
        }

            .share-icons a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                width: 40px;
                height: 40px;
            }

        .social-icon1 {
            width: 40px;
            height: 40px;
        }

        .share-link {
            background-color: #f8f9fa;
            border-radius: 10px;
            padding: 10px;
            margin: 45px 0;
            display: block;
            color: #dc3545;
            font-weight: bold;
            overflow: hidden; /* Hide overflow */
            text-overflow: ellipsis; /* Add ellipsis */
            white-space: nowrap; /* Prevent wrapping */
            font-size: small;
        }

        .email-btn {
            background-color: #F74B94; /* Button background color */
            color: #fff; /* Text color */
            border: none; /* Remove border */
            border-radius: 30px; /* Rounded corners */
            padding: 10px 20px; /* Padding */
            font-size: 1.2rem; /* Font size */
            font-weight: bold; /* Bold text */
            text-decoration: none; /* Remove underline */
            width: 100%; /* Full width */
            box-sizing: border-box; /* Include padding and border in element's total width and height */
            margin-top: auto; /* Push to the bottom */
            display: inline-block; /* Display as inline block */
            text-align: center; /* Center text */
            transition: background-color 0.3s; /* Smooth transition for background color change */
        }

            .email-btn:hover {
                background-color: #C93B77; /* Darker background color on hover */
            }
    </style>
</head>

<body>
    <div>
        <div class="backBtn-div">
            <button class="backBtn" onclick="history.back()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="share-container">
        <div class="share-card">
            <div>
                <img src="~/css/resource/chipin_logo_6.png" alt="Chipin Logo" class="img-fluid">
                <h4>Invite Friends</h4>
                <p style="margin-top: 20px;
    margin-bottom: 1rem;
    font-size: 1.25rem;">Share this link with people you would like to add to your ChipIn list!</p>
                <div class="share-icons">
                    <a href="https://wa.me/?text= @Html.Raw($"https://chipinrewritewebappservice.azurewebsites.net/sharedlist?id={productListWallets.ProductListWalletId}")" target="_blank" class="whatsapp-logo">
                        <img src="~/css/resource/whatsapp_color_logo.svg" alt="WhatsApp" class="social-icon1">
                    </a>
                    <a href="https://twitter.com/intent/tweet?url= @Html.Raw($"https://chipinrewritewebappservice.azurewebsites.net/sharedlist?id={productListWallets.ProductListWalletId}")" target="_blank" class="x-logo">
                        <img src="~/css/resource/x_logo.svg" alt="Twitter" class="social-icon1">
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u= @Html.Raw($"https://chipinrewritewebappservice.azurewebsites.net/sharedlist?id={productListWallets.ProductListWalletId}")" target="_blank" class="facebook-logo">
                        <img src="~/css/resource/facebook_color_logo.svg" alt="Facebook" class="social-icon1">
                    </a>
                    <a href="https://www.instagram.com/?url= @Html.Raw($"https://chipinrewritewebappservice.azurewebsites.net/sharedlist?id={productListWallets.ProductListWalletId}")" target="_blank" class="instagram-logo">
                        <img src="~/css/resource/instagram_color_logo.svg" alt="Instagram" class="social-icon1">
                    </a>
                </div>
                <h5>Share This Link</h5>
                <a href="@Html.Raw($"https://chipinrewritewebappservice.azurewebsites.net/sharedlist?id={productListWallets.ProductListWalletId}")" class="share-link">@Html.Raw($"https://chipinrewritewebappservice.azurewebsites.net/sharedlist?id={productListWallets.ProductListWalletId}")</a>
            </div>
            <a href="mailto:?" class="email-btn mt-auto">Share by E-mail</a>
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('header').empty();
    });
</script>