@model Chipin_Rewrite.Models.Entities.ProductListWallet

@{
    var externalProducts = ViewBag.ExternalProducts as List<Chipin_Rewrite.Models.Entities.ExternalProduct>;
    var products = ViewBag.Products as List<Chipin_Rewrite.Models.Entities.Product>;
    var productListItems = ViewBag.ProductListItems as List<Chipin_Rewrite.Models.Entities.ProductListItem>;
    var productListWallets = ViewBag.Wallets as Chipin_Rewrite.Models.Entities.ProductListWallet;
    var addresses = ViewBag.Addresses as List<Chipin_Rewrite.Models.Entities.Address>;

    // Calculate the progress percentage
    var progressPercentage = (productListWallets.Funded / productListWallets.Total) * 100;
    var hideProgressBar = productListWallets.Funded == 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dad's Bday</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #F74B94;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 428px;
            margin: 0 auto;
            padding: 0 0 70px 0;
            position: relative;
            min-height: 100vh;
        }

        .header-container {
            background-color: #F74B94;
            background-image: url('vector.svg');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px 20px 0 0;
            margin-top: 20px;
            padding: 20px;
            color: #fff;
            text-align: left;
            position: relative;
            height: 200px; /* Adjust height as needed */
            display: flex;
            align-items: flex-end;
        }

        .header-content {
            display: flex;
            align-items: center;
            margin-bottom: 95px;
        }

        .header-container .back-arrow {
            font-size: 24px;
            cursor: pointer;
            margin-right: 10px;
        }

        .header-container h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        .card {
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            margin-top: -75px;
            height: calc(100vh - 295px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .input-container {
            text-align: left;
            margin-bottom: 20px;
        }

            .input-container h5 {
                font-size: 20px;
                font-weight: bold;
                color: #333;
                margin-bottom: 10px;
                text-align: center; /* Keep the heading centered */
            }

            .input-container .input-group {
                display: flex;
                align-items: center;
                background-color: #fff;
                border-radius: 10px;
                padding: 10px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                width: 100%; /* Make it the same width as the inner card */
                box-sizing: border-box; /* Ensure padding is included in the width */
            }

                .input-container .input-group span {
                    color: #F74B94;
                    font-size: 24px;
                    font-weight: bold;
                    margin-right: 10px;
                }

                .input-container .input-group input {
                    border: none;
                    outline: none;
                    font-size: 24px;
                    padding: 5px;
                    text-align: left;
                    flex: 1; /* Ensure the input takes the remaining space */
                }


        .inner-card {
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
        }

            .inner-card h5 {
                font-size: 20px;
                font-weight: bold;
                color: #333;
                margin-bottom: 20px;
            }

        .avatars {
            display: flex;
            margin-bottom: 10px;
        }

            .avatars img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: -10px;
                border: 2px solid #fff;
            }

        .amount-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

            .amount-info div {
                text-align: center;
            }

            .amount-info span {
                font-size: 16px;
                color: #333;
            }

            .amount-info .chipped-in {
                color: #28a745;
                font-weight: bold;
            }

            .amount-info .remaining {
                color: #333;
                font-weight: bold;
            }

        .progress {
            height: 8px;
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: #e9ecef;
        }

        .progress-bar {
            background-color: #28a745;
            width: @progressPercentage%;
        }

        .hide-progress-bar {
            display: none;
        }

        .gift-image {
            display: flex;
            justify-content: left;
            margin-top: 20px;
        }

            .gift-image img {
                width: 60px;
                height: auto;
            }

        .btn-chip {
            width: 100%;
            border-radius: 30px;
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px; /* Adjust height as needed */
        }

        .btn-chip {
            background-color: #F74B94;
            color: #fff;
            border: none;
        }

            .btn-chip img {
                margin-left: 10px;
            }
    </style>
</head>
<body>

    <div class="container">
        <div class="header-container">
            <div class="header-content">
                <span class="back-arrow" onclick="history.back()">&lt;</span>
                <h1>@productListWallets.Name</h1>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="input-container">
                    <h5>Chipin Amount</h5>
                    <div class="input-group">
                        <span>R</span>
                        <input id="chipinAmount" type="number" placeholder="250.00">
                    </div>
                </div>
                <div class="inner-card">
                    <h5>@productListWallets.Name</h5>
                    <div class="amount-info">
                        <div>
                            <span>Chipped in</span><br>
                            <span class="chipped-in">+ R @productListWallets.Funded</span>
                        </div>
                        <div>
                            <span>Remaining</span><br>
                            <span class="remaining">R @productListWallets.Total</span>
                        </div>
                    </div>
                    <div class="progress @(hideProgressBar ? "hide-progress-bar" : "")">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <div class="gift-image">
                        @foreach (var (index, item) in productListItems.Select((item, index) => (index, item)))
                        {
                            @foreach (var eProduct in externalProducts)
                            {
                                if (@item.ExternalProductId == @eProduct.ExternalProductId)
                                {
                                    <img src="@eProduct.Image" onerror="src ='/css/resource/Chipin.png';" />
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="mt-auto">
                <button class="btn btn-chip" onclick="redirectToSharedList3()">Chip In <img src="~/css/resource/arrow-next.svg" alt="Arrow"></button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $('header').empty();
    });
</script>

<script>
    function redirectToSharedList3() {
        var chipinAmt = document.getElementById('chipinAmount').value;
        if (!chipinAmt || chipinAmt <= 0) {
            alert('Please enter a valid amount before proceeding.');
            return;
        }
        var baseUrl = '@Url.Action("Index", "SharedList3")';
        var url = `${baseUrl}?id=@productListWallets.ProductListWalletId&chipinAmount=${chipinAmt}`;
        console.log("Redirecting to URL:", url);
        window.location.href = url;
    }
</script>