@model Chipin_Rewrite.Models.Entities.ProductListWalletTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductListItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductListWalletTransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductListWalletTransactionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipinId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChipinId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FromInvitedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromInvitedUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductListWalletId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductListWalletId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductListWalletTransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
