@model Chipin_Rewrite.Models.Entities.ShareList

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShareList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductListWalletTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductListWalletTransaction.ProductListWalletTransactionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShareId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
