@model Chipin_Rewrite.Models.Entities.ShareList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShareList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductListWalletTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductListWalletTransaction.ProductListWalletTransactionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShareId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
