@model Chipin_Rewrite.Models.Entities.ExternalProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExternalProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustString1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustString1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustString2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustString2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustString3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustString3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustInt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustInt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustInt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustInt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustInt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustInt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExternalProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
